<!DOCTYPE html>
<html long="ko">
    <head>
        <!--meta-->
        <meta charset="utf-8">
        <!--TITLE-->
        <title>sns board</title>
        <!--CSS-->
        <link rel="stylesheet" href="./css/style.css">

        <!--JS-->
        <script>

        </script>

    </head>

    <body>
        <header>
            <!--홈버튼-->
            <a href="./main.html"><img src="./img/home_img.png" width="50px" position: fixed;></a>
        </header>

        <div>
            <div class="Post_c">
                <div class="Post_c_in">
                    <textarea name="text_creat" rows="20" cols="80"></textarea>
                </div>
                <div class="Post_b">
                    <a href="./main.html"><img src="./img/add_img.png" width="50px"></a>
                </div>
            </div>
            <div class="Profil">
                <a href="./login.html">로그인</a>
                <a href="./signup.html">회원가입</a>
            </div>
            <div class="Main">
            게시글
            </div>
        </div>

        <footer></footer>



    </body>
</html>

<!--
1가장기본적인 html문서
2제일먼저레이아웃을 잡아놓고 디자인요소 코딩을 진행
3 css,js파일은 따로 파일을 분리하여 삽입을 권장
4자동완성기능이있는 에디터 사용 권장(아톰,브라켓,ms,등)
5드림위버 사용 잘안하나 테이블 표,이미지맵 작업시 사용도 괜찮음

-->
